@model IEnumerable<Shop.Models.Goods>

    @{
        ViewData["Title"] = "Basket";
    }
    <h2>Basket</h2>
    @if (Model.Any())
    {
        <a asp-action="DeleteAll" class="btn btn-primary">Delete All</a>
        <div id="ProductList">
            @foreach (var item in Model)
            {
            <div>
                <img src="@item.Picture" />
                <p class="nameProd">@item.Name</p>
                <p class="price">@item.Price</p>
                <a asp-action="Details" asp-controller="Goods" asp-route-id="@item.ID" asp-route-fromBasket="@true">Details</a> |
                <a asp-action="DeleteItem" asp-route-id="@item.ID">Delete</a> |
                @if (ViewBag.UnLoggedUser == false)
                {
                    <a asp-action="Buy" asp-route-idGood="@item.ID">Buy</a>
                }

            </div>
            }
        </div>
    }
    @if (Model.Any() == false)
    {
        @Html.Partial(@"\Partial\EmptyPage")
    }

