@model IEnumerable<Shop.Models.Users>

@{
    ViewData["Title"] = "Users list";
}
    <a asp-controller="Account" asp-action="Register" class="btn btn btn-primary">Add new User</a>
    <ul>
        @foreach(var item in @Model)
        {
        <li>
            @item.Email | @item.Role.Name |
            @if (@item.State == true)
            {
                <span>Is active</span>
            }
            @if (@item.State == false)
            {
                <span>Is not active</span>
            }
            <a asp-controller="Account" asp-action="Edit" asp-route-IdUser="@item.Id">| Edit</a>
        </li>
        }
    </ul>
