@model Shop.Models.Order

@{
    ViewData["Title"] = "Edit order";
}

<h1>Edit</h1>
<h4>Order</h4>
<form action="EditStateOrder" method="post">
    <input type="text" name="idOrder" value="@Model.ID" hidden/>
    <div>
        <img src="@Model.Good.Picture" />
        <p class="nameProd">@Model.Good.Name</p>
        <span class="typeProd">@Model.Good.Type</span>

        <select name="newStateOrderId" class="form-control">
            @foreach (var item in @ViewBag.ListStatesOrder)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>

        <p class="price">@Model.Good.Price</p>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div>
    <a asp-action="listOrders" asp-controller="Admin">Back to list Orders</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

