@model Shop.Models.Goods

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Goods</h4>
<hr />
<img id="ImgDetails" src="@Model.Picture" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Describe" class="control-label"></label>
                <input asp-for="Describe" class="form-control" />
                <span asp-validation-for="Describe" class="text-danger"></span>
            </div>
            <div>
                <select name="typeName" class="form-control">
                    @foreach (var item in ViewBag.TypeGoods)
                    {
                        if (@Model.Type.Name == @item.Name)
                        {
                            <option selected>@item.Name</option>
                        }
                        else
                        {
                            <option>@item.Name</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" type="checkbox" class="form-control" style="width:38px"/>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="uploadedFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListGoods">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
