@model IEnumerable<Shop.Models.Goods>

@{
    ViewData["Title"] = "Goods list";
}

<h1>Products</h1>
@if (Context.User.IsInRole("admin"))
{
    <p>Admin</p>
}

<div id="basketBlock">
    <a asp-action="Basket">
        <img src="~/basket.png" id="basket" />
        <span id="basketLength">@ViewBag?.basketLength</span>
    </a>
</div>
<div id="mainBlock">
    <div id="leftPanel">
        <ul>
            Categories
            <li>
                <a asp-action="ListGoods">All</a>
            </li>
            <li>
                <a asp-action="ListGoods" asp-route-sortName="Type 1">Type 1</a>
            </li>
            <li>
                <a asp-action="ListGoods" asp-route-sortName="Type 2">Type 2</a>
            </li>
        </ul>
    </div>
    <div id="ProductList">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <div>
                    <img src="@item.Picture" />
                    <p class="nameProd">@item.Name</p>
                    <span class="typeProd">@item.Type</span>
                    <p class="price">@item.Price</p>

                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    @if (ViewBag?.IdCurrUser == item.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit |</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                    @if (ViewBag?.IdCurrUser != item.UserId)
                    {
                        <a asp-action="Buy" asp-route-id="@item.ID">Buy</a>
                    }
                </div>
            }
        }
        @if (Model.Any() == false)
        {
            <img id="NoResult" src="~/Imgs/SadSmile.png"/>
            <p id="NoResulText">No result</p>
        }
    </div>
</div>

